(
    
    
    magic_fx_instances: [
( 

     shader_variant_name: "purple.shadvar",
	  mesh_name:  "meshes/projectile.obj", 
	   fx_style: Standard,
		  start_time_offset: 0.0,
		  end_time_offset: 1.3,
		  start_transform: (translation: (3.0,2.0,0.0), rotation:(0.0,0.0,0.0),scale:(0.2,0.6,0.2)),
		  end_transform: (translation: (4.0,0.0,0.0), rotation:(2.0,0.0,0.0),scale:(1.0,1.0,1.0)),

    ),

    ( 

     shader_variant_name: "beam.shadvar",
	  mesh_name:  "meshes/shatter.obj",
	     fx_style: Standard,
		  start_time_offset: 0.4,
		  end_time_offset: 1.4,
		  start_transform: (translation: (3.0,2.0,0.0), rotation:(0.0,0.0,0.0),scale:(0.2,0.2,0.2)),
		  end_transform: (translation: (4.0,0.0,0.0), rotation:(2.0,0.0,0.0),scale:(9.0,4.0,9.0)),

    ),

      ( 

     shader_variant_name: "blast.shadvar",
	  mesh_name:  "meshes/shatter.obj", 
	     fx_style: Standard,
		  start_time_offset: 0.4,
		  end_time_offset: 1.4,
		  start_transform: (translation: (3.0,2.0,0.0), rotation:(30.0,30.0,0.0),scale:(0.2,0.2,0.2)),
		  end_transform: (translation: (4.0,0.0,0.0), rotation:(30.0,30.0,0.0),scale:(9.0,4.0,9.0)),

    )

    ] ,  

    max_time: Some(2.0),
    repeating: true 


)