(
    
    
    magic_fx_instances: [
 
 

  (
 
      shader_variant_name:  "portal_1",  //"materialize_defs/portal_1.material.toml",
	  mesh_name:  "meshes/portal_spiral_plane.obj", 
	    fx_style: Standard,
		  start_time_offset: 0.0,
		  end_time_offset: 1.0,
		  start_transform: (translation: (0.0,0.0,0.0), rotation:(0.0,0.0,0.0),scale:(1.0,1.0,1.0)),
		  end_transform: (translation: (0.0,0.0,0.0), rotation:(0.0,0.0,0.0),scale:(1.0,1.0,1.0)),

		 
		  start_tint_color: Some(   Srgba((
			        red: 1.0,
			        green: 1.0,
			        blue: 1.0,
			        alpha: 1.0
			    ))),

		  end_tint_color: Some(   Srgba((
			        red: 1.0,
			        green:1.0,
			        blue: 1.0,
			        alpha: 0.1
			   ) )), 

    ),
 
 
    

    ] ,  

    max_time: None,
    repeating: true 


)