(
    
    
    magic_fx_instances: [
( 

     shader_variant_name: "beam.shadvar",
	  mesh_name:  "meshes/spin_swirl.obj", 
	   fx_style: Standard,
		  start_time_offset: 0.2,
		  end_time_offset: 1.5,
		  start_transform: (translation: (0.0,0.0,0.0), rotation:(0.0,0.0,0.0),scale:(1.0,0.2,1.0)),
		  end_transform: (translation: (0.0,0.0,0.0), rotation:(40.0,0.0,0.0),scale:(1.5,1.5,1.5)),

    ),

  (
    shader_variant_name: "lightning_01.shadvar",
	  mesh_name:  "meshes/sunshafts.obj", 
	    fx_style: Standard,
		  start_time_offset: 0.2,
		  end_time_offset: 0.5,
		  start_transform: (translation: (0.0,0.0,0.0), rotation:(0.0,0.0,0.0),scale:(1.0,1.0,1.0)),
		  end_transform: (translation: (0.0,0.0,0.0), rotation:(0.0,0.0,0.0),scale:(1.0,1.0,1.0)),

	 

		 

    ),


   (
    shader_variant_name: "beam.shadvar",
	  mesh_name:  "meshes/sunshafts.obj", 
	    fx_style: Standard,
		  start_time_offset: 0.3,
		  end_time_offset: 0.5,
		  start_transform: (translation: (0.0,0.0,0.0), rotation:(0.0,0.0,0.0),scale:(0.4,1.0,0.4)),
		  end_transform: (translation: (0.0,0.0,0.0), rotation:(0.0,0.0,0.0),scale:(0.4,1.0,0.4)),

	  

    ),
  

  (
    shader_variant_name: "magic_01.shadvar",
	  mesh_name:  "meshes/plane_horizontal.obj", 
	    fx_style: Standard,
		  start_time_offset: 0.0,
		  end_time_offset: 1.5,
		  start_transform: (translation: (0.0,0.4,0.0), rotation:(0.0,0.0,0.0),scale:(1.0,1.0,1.0)),
		  end_transform: (translation: (0.0,0.4,0.0), rotation:(0.0,0.0,0.0),scale:(1.2,1.2,1.2)),

		    start_tint_color: Some(   Srgba((
			        red: 1.0,
			        green: 1.0,
			        blue: 1.0,
			        alpha: 1.0
			    ))),

		  end_tint_color: Some(   Srgba((
			        red: 1.0,
			        green:1.0,
			        blue: 1.0,
			        alpha: 0.1
			   ) )), 

    ),

    

    ] ,  

    max_time: Some(2.0),
    repeating: true 


)