(
    
    
    magic_fx_instances: [
 

  (
    shader_variant_name: "sword_slash_1.shadvar",
	  mesh_name:  "meshes/slash_180.obj", 
	    fx_style: Standard,
		  start_time_offset: 0.0,
		  end_time_offset: 0.5,



		  //consider passing in a vec of keyframes ... each having an xform and color ...
		  //also consider allowing a shadvar to be able to multiply textures somehow .. and use emission ..

		  start_transform: (translation: (0.0,0.0,0.0), rotation:(0.0,0.0,0.0),scale:(1.2,1.2,1.2)),
		  end_transform: (translation: (0.0,0.0,0.0), rotation:(0.0,0.0,0.0),scale:(1.0,1.0,1.0)),
    	start_tint_color: Some(   Srgba((
			        red: 1.0,
			        green: 1.0,
			        blue: 1.0,
			        alpha: 1.0
			    ))),

		  end_tint_color: Some(   Srgba((
			        red: 1.0,
			        green:1.0,
			        blue: 1.0,
			        alpha: 0.0
			   ) )), 

    ),
 
    

    ] ,  

    max_time: Some(1.5),
    repeating: true 


)