(
    
    
    texture: "textures/kiddolink/vfx_explosion_1.png",
    animation_speed: (8.0,0.0),  

    distortion_speed: (0.01,0.01),
    scroll_repeats: ( 1.0,1.0),
    distortion_amount: 0.0 , 
    depth_cutoff_offset: Some(0.03),

    animation_frame_dimensions: Some( (12,1) ),

    color: LinearRgba((
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 0.8
        )),
     emissive: LinearRgba((
              red: 1.0,
             green: 1.0,
             blue: 1.0,
             alpha: 30.6
        ) )
      
)


