


(
    
    
    texture: "textures/T_Lightning_2x1_00.tga",
    animation_speed: (0.0,14.0),  

    distortion_speed: (32.0,16.0),
    scroll_repeats: ( 1.0,2.0),
    distortion_amount: 0.06 , 

    color: LinearRgba((
            red: 0.2,
            green: 0.2,
            blue: 0.8,
            alpha: 0.8
       ) ),
     emissive: LinearRgba((
              red: 8.0,
             green: 8.0,
             blue: 66.0,
             alpha: 66.0
       ) ) 
      
)

