(
    
   
    texture: "textures/kenney/fire_01.png",
    animation_speed: (0.5,0.1),  

    distortion_speed: (0.02,0.01),
    scroll_repeats: ( 3.0,3.0),
    distortion_amount: 0.02 , 

    

    color: LinearRgba((
            red: 0.2,
            green: 0.3,
            blue: 0.2,
            alpha: 1.0
        )),
     emissive: LinearRgba((
              red: 4.0,
             green: 0.3,
             blue: 70.0,
             alpha: 0.6  
        )) 
      
)

 