(
    
    name: "purple",
    texture: "textures/fire_01.png",
    animation_speed: 0.5, // Assuming animation_speed is a string for some reason; otherwise, consider using a float or int
    color: Rgba(
        red: 5,
        green: 255,
        blue: 55,
        alpha: 255 // Assuming your Color struct has rgba fields; adjust according to your actual Color struct
    ),
     emissive:  (
        5.0,20.0,5.0
    )
      
)