(
    
   
   

    texture: "textures/diffuse_noise/bluegreen_2.tga",

    masking_texture: Some( "textures/kenney/fire_01.png"),

    animate_masking_texture: true ,


    animation_speed: (0.5,0.3),  

    distortion_speed: (0.02,0.01),
    scroll_repeats: ( 1.0,1.0),
    distortion_amount: 0.02 , 

    

    color: LinearRgba((
            red: 0.2,
            green: 0.3,
            blue: 0.2,
            alpha: 1.0
       ) ),
     emissive: LinearRgba((
              red: 4.0,
             green: 4.0,
             blue: 4.0,
             alpha: 0.6  
       ) ) 
      
)

 